body {
	line-height: 1.7;
	color: darken($gray-3, 20%);
	font-weight: 300;
	font-size: 16px;
}
::-moz-selection { 
	background: $black;
	color: $white;
}
::selection { 
	background: $black;
	color: $white;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none;
	}
}

.text-black {
	color: $black;
}


.site-wrap {
	&:before {
		transition: .3s all ease-in-out;
		background: rgba(0,0,0,.6);
		content: "";
		position: absolute;
		z-index: 2000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
	}
	.offcanvas-menu & {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn {
	text-transform: uppercase;
	position: relative;
	transition: .2s all ease-in-out!important;
	top: 0;
	letter-spacing: .05em;
	&:hover, &:active, &:focus {
		outline: none;
		box-shadow: none!important;
	}
	&.btn-secondary {
		background-color: lighten($secondary, 45%);
		border-color: lighten($secondary, 45%);
		color: $black;
	}
	&.btn-sm {
		font-size: 14px!important;
		padding: 10px 20px!important;
	}
	&.btn-primary {
		font-size: 17px;
		font-weight: 300;
		letter-spacing: .2em;
	}
	&:hover {
		box-shadow: 0 5px 20px -7px rgba(0,0,0,.9)!important;
		top: -2px;
	}
	
}
.form-control {
	height: 43px;
	&:active, &:focus {
		border-color: $primary;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
	}
}

.site-section {
	padding: 2.5em 0;
	@include media-breakpoint-up(md) {
		padding: 5em 0;
	}

	&.site-section-sm {
		padding: 4em 0;
	}
}

.site-section-heading {
	font-size: 30px;
	color: $gray-1;
	position: relative;
	&:before {
		content: "";
		left: 0%;
		top: 0;
		position: absolute;
		width: 40px;
		height: 2px;
		background: $primary;
	}
	&.text-center {
		&:before {
			content: "";
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			position: absolute;
			width: 40px;
			height: 2px;
			background: $primary;
		}	
	}
	
}

.border-top {
	border-top: 1px solid $gray-4!important;
}

.site-footer {
	padding: 4em 0;
	ul {
		li {
			margin-bottom: 10px;
			a {
				//color: $gray-2;
				&:hover {
					color: $primary;
				}
			}
		}
	}
	.footer-heading {
		font-size: 20px;
		color: $gray-1;
	}
}